.headerSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}
.fitnessLogo{
    border-radius: 1rem;
    width: 100%;
    max-width: 4.5rem;
}
.profile{
    width: 100%;
    max-width: 3rem;
}
.searchBar{
    margin: 0 1rem;
    width: 100%;
    max-width: 20rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    height: fit-content;
    border: 1.2px solid lightgray;
}
.searchInput{
    width: 100%;
    font-size: 1rem;
    border-color: transparent;
    outline: transparent;
}
.searchProfile{
    font-size: larger;
}