@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
:root{
    --background-color: #fffbeb;
    --second-background-color: #fef3c7;
    --light-color: #fcd34d;
    --dark-color: #78350f;
}
.App{
    min-height: 100vh;
    font-family: 'Montserrat';
    background-color: var(--background-color);
}